:root {
    --cinza: #f1f8f6;
    --cinza-escuro: #8d8d8d;
    --branco: #fff;
    --escuro: #000;
    --verde: #b1d43a;
    --azul: #1885f1;
    --azul-claro: #8cbeef;
    --azul-escuro: #0c0c0c;
    --vermelho: #fc3856;
}

body {
    color: var(--cinza);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--cinza);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/* SIDE BAR */

#sidebar {
    position: fixed;
    width: 260px;
    background: var(--branco);
    top: 0;
    left: 0;
    height: 100%;
}

#sidebar .brand {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    color: var(--azul-claro);
    font-weight: 700;
}

#sidebar .icon {
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar .side-menu {
    margin: 36px 0;
    padding: 0 20px;
}

#sidebar .side-menu a {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--escuro);
    padding: 12px 16px 12px 0;
    transition: all .3s ease;
    border-radius: 10px;
    margin: 4px 0;
    grid: 6px;
}

#sidebar .side-menu>li>a:hover {
    background: var(--cinza);
}

#sidebar .side-menu>li>a.active,
#sidebar .side-menu>li>a.active:hover {
    background: var(--azul);
    color: var(--branco);
}

#sidebar .divider {
    margin-top: 24px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--escuro-cinza);
    ;
}

#sidebar .side-dropdown {
    padding-left: 48px;
    max-height: 0;
    overflow-y: hidden;
    transition: all 15s ease;
}

#sidebar .side-dropdown.show {
    max-height: 1000px;
}

#sidebar .side-dropdown a:hover {
    color: var(--azul);
}

#sidebar .ads {
    width: 100%;
    padding: 20px;
}

#sidebar .ads .wrapper {
    flex-direction: column;
    background: var(--cinza);
    padding: 20px;
    border-radius: 10px;
}

#sidebar .btn-upgrade {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    color: var(--branco);
    background: var(--azul);
    transition: all .3s ease;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 12px;
}

#sidebar .btn-upgrade :hover {
    background: var(--azul-escuro);
}

#sidebar .ads .wrapper {
    font-size: 12px;
    color: var(--escuro-cinza);
    text-align: center;
}

#sidebar .ads .wrapper p span {
    font-weight: 700;
}